<ul class="nav nav-tabs">
	<li class="<%= request.fullpath.eql?(account_setup_module_inventory_setup_categories_path) ? 'active':'none' %>"><%= link_to( "Categories" , account_setup_module_inventory_setup_categories_path )  %></li>
	<li class="<%= request.fullpath.eql?(account_setup_module_inventory_setup_subcategories_path) ? 'active':'none' %>"><%= link_to( "Subcategories" , account_setup_module_inventory_setup_subcategories_path )  %></li>
	<li class="<%= request.fullpath.eql?(account_setup_module_organization_setup_roles_path) ? 'active':'none' %>"><%= link_to( "Units" , account_setup_module_organization_setup_roles_path )  %></li>
    <li class="<%= request.fullpath.eql?(account_setup_module_organization_setup_roles_path) ? 'active':'none' %>"><%= link_to( "Conversions" , account_setup_module_organization_setup_roles_path )  %></li>
    <li class="<%= request.fullpath.eql?(account_setup_module_inventory_setup_items_path) ? 'active':'none' %>"><%= link_to( "Items" , account_setup_module_inventory_setup_items_path )  %></li>
</ul>