<%= f.fields_for :purchase_items do |purchase_item_f| %>
  <td>
    <%= purchase_item_f.input :item_id, :as => :select, :collection => Item.all.map{ |b| [ b.name, b.id ] } %>
  </td>
  <td>
    <%= purchase_item_f.input :unit_id, :as => :select, :collection => Unit.all.map{ |b| [ b.name, b.id ] } %>
  </td>
  <td>
    <%= purchase_item_f.input :quantity %>
  </td>
  <td>
    <%= purchase_item_f.input :amount %>
  </td>
  <td>
    <%= purchase_item_f.input :vat_type %>
  </td>
  <td>
    <%= purchase_item_f.input :particulars %>
  </td>
  <td>
    <%= purchase_item_f.link_to_remove "Remove this task" %>
  </td>
<% end %>