<tr class="nested-fields"> 
  <td>
    <%= f.input :item_id, :as => :select, :collection => Item.all.map{ |b| [ b.name, b.id ] } %>
  </td>
  <td>
    <%= f.input :unit_id, :as => :select, :collection => Unit.all.map{ |b| [ b.name, b.id ] } %>
  </td>
  <td>
    <%= f.input :quantity %>
  </td>
  <td>
	
  </td>
  <td>
    <%= f.input :amount, :input_html => { :class => "purchase-item-amounts" }  %>
  </td>
  <td>
    <%= f.input :vat_type, :as => :select, :collection => [ "VAT-Exclusive", "VAT-Inclusive", "VAT-Exempted" ]  %>
  </td>
  <td>
    <%= f.input :particulars %>
  </td>
  <td>
    <%= link_to_remove_association "Remove", f, :class => "remove-item-button" %>
  </td>
</tr>

<script>

$(function(){
	// Compute total amount
	$(".purchase-item-amounts").focusout(function(){
		var sum = 0;
		$(".purchase-item-amounts").each(function(){
			sum += Number($(this).val());
		});
		
		$("#purchases-total-amount").text(sum);
	});
	
	// Subtract amount when remove item button clicked
	$(".remove-item-button").click(function(){
		var sum = 0;
		$(".purchase-item-amounts").each(function(){
			sum += Number($(this).val());
			alert( sum );
		});
		
		$("#purchases-total-amount").text(sum);
	});
});

</script>